/*.attrubution {
	font-size: 11px; 
	text-align: center; 
}

.attribution a { 
	color: hsl(228, 45%, 44%); 
}*/


body {
	box-sizing: border-box;
   	margin: 0;
	padding: 0;
	font-family: 'Raleway Open Sans';
	font-weight: 400;
}


header {
	padding: 0 50px;
	margin-top: 20px;
}


h1 {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 30px;
	line-height: 150%;
	color: hsl(243, 87%, 12%);
}

p {
	font-family: 'Open sans';
	font-size: 14px;
	line-height: 1.6;
}

header, ul, 
input {
	font-family: 'Raleway';
}



/* Mobile design*/


@media only screen and (max-width: 768px) {
	.container {
		flex-direction: column;
		order: 2;	
	}
	
}


/*-------------- */
.nav-bar {
	display: flex;
	list-style: none;
	text-decoration: none;
	justify-content: space-around;
}

.nav-bar__items {
	font-size: 14px;
}


.nav--logo {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.logo {
	width: 150px;
}

.wrapper {
	/*width: 80%; 
*/	padding: 0 auto; 
	margin: 0 auto; 
	width: 960px;
	max-width: 960px;
}


.container {
	display: flex;
	padding-top: 40px;
	justify-content: space-between;

}


.features {
	/*width: 500px;*/
	display: flex;
	flex-direction: column;
    justify-content: center;
}


.feature__image {
	width: 500px;
	height: 400px;
}


.feature--cta {
	width: 500px;
	display: inline-block;
}


.btn--cta {
	font-size: 13px;
	color: white;
	padding: 10px 60px;
	background-color: hsl(224, 93%, 58%);
	border-radius: 6px;
}


.feature--cta__box {
	border-color: hsl(0, 0%, 75%);
	text-align: left;
	font-family: ;
	font-size: 12px;
	width: 30%;
	padding: 12px 20px;
	box-sizing: border-box;
}


