/*.attrubution {
	font-size: 11px; 
	text-align: center; 
}

.attribution a { 
	color: hsl(228, 45%, 44%); 
}*/


body {
	box-sizing: border-box;
   	margin: 40px;
	padding: 0;
	font-family: 'Raleway Open Sans';
	font-weight: 400;
}


h1 {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 30px;
	line-height: 150%;
	color: hsl(243, 87%, 12%);
}

p {
	font-family: 'Open sans';
	font-size: 14px;
	line-height: 1.6;
}

header, ul, 
input {
	font-family: 'Raleway';
}



/* Mobile design*/


@media only screen and (max-width: 725px) {
	.features {
		flex-wrap: wrap;
		flex-direction: column-reverse;
		width: 100%;	
	}
}

@media only screen and (max-width: 725px) {
	.features__body {
		/*height: 100%;
		width: 100%;*/
		/*text-align: center;
		flex-direction: column;*/

	}

}
/*--Navigation bar-------- */


.nav-bar__items {
	width: 300px;
	height: 80px;
	display: flex;
	flex-direction: row;
	list-style: none;
	text-decoration: none;
	justify-content: space-around;
	font-size: 14px;
}

.nav--logo {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.logo {
	width: 150px;
}


/*----Main content-----*/


.wrapper {
	padding: 0 auto; 
	margin: 0 auto; 

}

.features {
	max-width: 1440px;
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
}


.features__body {
	flex-basis: 60%;
	flex-direction: column;
	text-align: left;
}


.feature__image {
	flex-basis: 50%;
	flex-direction: row;
	width: 500px;
	height: 400px;
}


.feature--cta {

}


.feature--cta__input {
	padding: 12px 20px;
	display: inline-block;
	box-sizing: border-box;
	border-color: hsl(0, 0%, 75%);
	text-align: left;
	width: 50%;
	font-family: 'Raleway';
	font-size: 12px;
}


.feature--cta__btn {
	width: 40%;
	font-family: 'Raleway';
	font-size: 13px;
	color: white;
	padding: 12px 20px;
	background-color: hsl(224, 93%, 58%);
	border-radius: 6px;

}


/*.feature--cta {
	width: 100%;
	display: inline-block;
}


.btn--cta {
	width: 40%;
	
	/*padding: 10px 60px;*/
/*	}
*/

/*.feature--cta__box {
	border-color: hsl(0, 0%, 75%);
	
		
}
*/