.attrubution {
	font-size: 11px; 
	text-align: center; 
}

.attribution a { 
	color: hsl(228, 45%, 44%); 
}*/


body {
	box-sizing: border-box;
   	margin: 40px;
	padding: 0;
	font-family: 'Raleway Open Sans';
	font-weight: 400;
}


h1 {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 30px;
	line-height: 150%;
	color: hsl(243, 87%, 12%);
}


p {
	font-family: 'Open sans';
	font-size: 14px;
	line-height: 1.6;
}


header, ul, 
input {
	font-family: 'Raleway';
}


/* Nav bar */



.nav-bar {
	width: auto;
	display: flex;
	justify-content: space-between;
}

.nav-bar__items {
	width: 250px;
	display: flex;
	justify-content: space-around;
	list-style: none;

}



/* Mobile design*/

/*
@media only screen and (max-width: 725px) {
	.features {
		flex-wrap: wrap;
		flex-direction: column-reverse;
		width: 100%;	
	}
}

@media only screen and (max-width: 725px) {
	.features__body {
	text-align: center;
	vertical-align: middle;
	}
}


@media only screen and (max-width: 725px) {
	.feature--cta {
		flex-direction: column;
	}
}


@media only screen and (max-width: 725px) {
	.feature--cta__input {
		width: 100%;
		margin: 5px;
	}
}



@media only screen and (max-width: 725px) {
	.feature--cta__btn {
		width: 100%;
		margin: 5px;

	}

}


@media only screen and (max-width: 725px) {
	.feature__image {
	flex-direction: column;
	}
}



@media only screen and (max-width: 725px) {
	.features__body {
		width: 100%;
		text-align: left;
	}
}
*/
/*
.@media only screen and (max-width: 725px){
	.features--background {
	width: 100%;
	background-image: url('images/bg-curve-mobile.svg');
	background-repeat: no-repeat;
	background-size: cover;

	}

}
*/

/*--Navigation bar-------- */

/*
.nav-bar__items {
	width: 500px;
	display: flex;
	list-style: none;
	font-size: 14px;
	justify-content: space-around;

}


.nav-bar {
	width: auto;
	margin: auto;
	display: flex;
	justify-content: space-between;
}


.logo {
	width: 150px;
}
*/

/*----Main content-----*/

/*/*.band {

	padding-top: 80px;
	padding-bottom: 80px;
}


.wrapper {

	padding: 0 auto; 
	margin: 0 auto; 

}


.features {
	max-width: 1440px;
	padding-top: 50px;
	padding-bottom: 80px;
	display: flex;
	justify-content: space-around;
}



.features__image {
	/*flex-basis: 50%;
/*	flex-direction: row;*/
/*	width: 400px;
	height: 300px;
}*/

/*
.features--cta {
	width: 500px;
	display: flex;

}


.features--cta__input {
	padding: 12px 20px;
	margin: 5px;
	display: inline-block;
	box-sizing: border-box;
	border-color: hsl(0, 0%, 75%);
	text-align: left;
	width: auto;
	font-family: 'Raleway';
	font-size: 12px;
	border-radius: 4px;
}


 .features--cta__btn {
 	width: auto;
	font-family: 'Raleway';
	font-size: 13px;
	color: white;
	text-decoration: none;
	padding: 12px 20px;
	margin: 5px;
	background-color: hsl(224, 93%, 58%);
	border-radius: 4px;
}


.features--background {
	width: 100%;
	background-image: url('images/bg-curve-desktop.svg');
	background-repeat: no-repeat;
	background-size: cover;
}


.features__body {
	width: 560px;

}

.features-text{

	/*width: 155px;
	/*display: flex;
	align-items: center;
	justify-content: space-between;*/
/*}

.features-text--green {
	color: #3DA08F;
}	



.features-feedback-box {
	background-color: white;
	width: auto;
	height: auto;
	padding-bottom: 28px;
	padding-right: 4px;
	border-radius: 12px;
	box-shadow: 4px 4px 8px #e2e2e2;
}

.feature-feedback--quote {
	padding-top: 20px;
	padding-left: 10px;
}

.features-feedback__testimonial--round {
	width: 50px;
	border-radius: 50%;
}

.text-strong {
	font-weight: 400px;
}

.features-feedback__testimonial {
	display: flex;	
}